#sspreviewbar {
    position: absolute;
    width: 100%;
    pointer-events: none;
    height: 100%;
    transform: scaleY(0.6) translateY(-30%) translateY(1.5px);
    z-index: 42;
    overflow: visible;
    padding: 0px;
    margin: 0px;
    transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1) 0s;
}

.sspreviewbar {
    display: inline-block;
    height: 100%;
    min-width: 1px;
    background-color:   aqua;
    position: absolute;
    opacity: 1;
}